.environment {  
  display: grid;
  grid-template-columns: 0.1fr 0.5fr 2.4fr;
  grid-template-rows: repeat(3, 0.1fr) 3fr 0.1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.menu{
  grid-area: 1 / 1 / 2 / 6;
  background-color: #2b313c;
  color: white;
  padding-left: 10px;
}

.quickPanel { 
  grid-area: 2 / 1 / 5 / 2;
  background-color: #23272e;
}

.explorer { 
  grid-area: 2 / 2 / 5 / 3; 
  background-color: #1e2227;
  color: white;
}

.file { 
  grid-area: 2 / 3 / 3 / 6;
  background-color: #1e2227;
  color: white;
}

.line { 
  grid-area: 3 / 3 / 4 / 6; 
  background-color: #23272e;
  color: white;
}

.main { 
  grid-area: 4 / 3 / 5 / 6;
  background-color: #23272e;
  color: white;
}

.footer {
  grid-area: 5 / 1 / 6 / 6;
  background: #1e2227;
}

html, body , .environment {
  height: 100%;
  margin: 0;
  font-family: droid-sans-mono,monospace;
  font-weight: 400;
  font-style: normal;
}

.menu a{
  display:inline;
  text-decoration: none;
  color: white;
}

.user {
  position: absolute;
  text-decoration: none;
  bottom: 30px;
  margin: 5px;
  vertical-align: middle;
}

.explorerTitle{
  margin: 19px;
  font-size: 12px;
}

.explorerButton {
  background-color: #23272e;
  color: white;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-size: small;
}

.explorerPanel {
  padding: 0 18px;
  background-color: #1e2227;
  color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: small;
}

.moreIcon {
  float: right;
}

.expandIcon {
  float: left;
}